@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
.main {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
section {
	background-color: #FFE2B8;
	border: 1px solid black;
	padding: 20px;
}
footer {
	clear: both;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
h1  {
	font-family: 'Lato';
	font-weight: 700;
	text-align: center;
	color: #ff6699;
}
#container {
	background-color: #C0D4FC;
  	background: url("../images/hero.jpg") repeat-x 0px 0px; 
  	background-size: cover;
}
p {
	text-align:center;
	font:18px/20px 'Lato',Arial,Helvetica,sans-serif;
	color:#858585;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
