@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
	font-size: 16px;
}
#header{
	overflow:hidden;
	text-transform:uppercase;
}
#header{
	display: block;
}
#container {
	background-color: #C0D4FC;
  	background: url("../images/hero.jpg") repeat-x 0px 0px; 
  	background-size: cover;
  	height: 10em;
}
h1  {
	text-align: center;
	color: #ff6699;
	padding-top: 5em;
}
p {
	text-align:center;
	font:18px/20px 'Lato',Arial,Helvetica,sans-serif;
	color:#858585;
}
