@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
.main {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px solid black;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
h1  {
	font-family: 'Lato';
	font-weight: 700;
	text-align: center;
	color: #ff6699;
}
#container {
	background-color: #C0D4FC;
  	background: url("../images/hero.jpg") repeat-x 0px 0px; 
  	background-size: cover;
}
p {
	text-align:center;
	font:18px/20px 'Lato',Arial,Helvetica,sans-serif;
	color:#858585;
}
